.timer {
  font-size: 0;
  text-align: center;
}
.field {
  display: inline-block;
  vertical-align: top;
}
.value {
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
  background: #4dadf7;
  color: #ffffff;
  line-height: 70px;
  width: 85px;
  margin: 0 1px;
  border-radius: 2px;
}
.label {
  display: block;
  background: none;
  color: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 30px;
  width: auto;
  margin: 0;
}
.timer_delimetr {
  display: inline-block;
  vertical-align: top;
  font-size: 50px;
  line-height: 70px;
  margin: 0 5px;
}
