
html {
    box-sizing: border-box;
  }
img {
    display: block;
    max-width: 100%;
    height: auto;
  }

#gallery {
    list-style: none;
    display: flex;
}

.listItem:not(:last-child) {
margin-right: 5px;
}


#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}

body {
  padding-bottom: 100px;
}